/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2019, 2:06:26 PM
    Author     : matthewp
*/

.table-column {
  -fx-alignment: CENTER;
}

.table-view .table-cell{
    -fx-font-size:10px;
}

.grid-pane{
  /*-fx-padding: 10px;*/
  -fx-min-height: 170px ;
}

.button:hover {
    -fx-background-color: #404040;
}

.button {
  -fx-background-color: black;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-background-radius: 16px;
  -fx-padding: 15px;
  -fx-border-insets: 5px;
  -fx-pref-width: 140px;
  -fx-background-insets: 10px;
}

#button-appointment {
  -fx-font-size: 12px;
}

.check-box .box {
    -fx-padding: 5px;
    -fx-border-insets: 13px;
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px; 
    -fx-background-insets: 10px;
}

.combo-box-base  
{
    -fx-padding: 12px;
    -fx-border-insets: 5px;
    -fx-background-insets: 10px;
    -fx-pref-width: 140px;
}

#combobox-years{
    -fx-pref-width: 120px;
}

#header-button {
   -fx-background-radius: 0px;
   -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-insets: 0px;
    -fx-border-color: white;
    -fx-background-insets: 0px;
}

#interaction-button {
    -fx-pref-width: 100px;
}

#refresh-button{
    -fx-pref-width: 100px;
}

.label
{
    -fx-font-family: "arial";
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-font-style: normal;
    -fx-font-weight: bolder;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#error-label {
   -fx-text-fill: red;
}

#copyright-label {
   -fx-background-color: black;
   -fx-text-fill: white;
   -fx-background-insets: 0px;
   -fx-padding: 5px;
}

#label-week {
    -fx-padding: 16px;
    -fx-border-insets: 15px; 
    -fx-background-insets: 10px;
}

#sign-in-window {
   -fx-background-color: white;
}

#main-window {
   -fx-background-color: white;
}

#big-label {
   -fx-font-size: 24px;
}
#big-header-label {
   -fx-font-size: 24px;
   -fx-text-fill: white;
}


#day-label {
   -fx-font-size: 12px;
}

#header-label {
   -fx-font-size: 22px;
}

#greeting-hbox {
   
}

#search-tf{
    -fx-background-color: #e6e6e6;
    -fx-pref-width: 120px;
}

#cell{
    -fx-border-color: #a0a0a0;
}

#cell-header{
    /*-fx-border-color: black;*/
    -fx-border-color: #a0a0a0;
}

.text-field {
  -fx-padding: 5px;
  -fx-border-insets: 10px;
  -fx-background-insets: 5px;
  -fx-border-color: black;
}

#type-textfield{
    -fx-pref-width: 100px;
}

.date-picker .text-field {
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-background-color: white;
    /*-fx-background-color: #e6e6e6;*/
}

.text-area{
    -fx-pref-width: 300px;
    -fx-pref-height: 100px;
    -fx-padding: 0px;
    -fx-border-insets: 10px;
    -fx-background-insets: 5px;
    -fx-border-color: black;
    -fx-background-color: white;
}